<div class="container">

	<div class="row">

		<div class="col-md-12 headline wow bounceInUp">
			<h2>Sobre Nosotros</h2>
			<p>Somos una empresa .</p>
		</div>

	</div><!-- .row -->

	<div class="row resume-items">

		<div class="col-md-3 wow bounceInDown">
			<h3>Mision</h3>
		</div>

		<div class="col-md-6 col-sm-8 resume-item wow bounceInLeft">
			<h4>Nuestro próposito es</h4>
			<p>proveer soluciones y servicios para hacer ganar tiempo a nuestros clientes, uniendo distancias, comprometidos con un mundo mejor. Prestar el mejor servicio de transporte de encomiendas con los niveles de Estandarización, Unificación y Gestión de Calidad que todos nuestros clientes merece. </p>
			<hr class="hidden-xs">
		</div>


	</div><!-- .row -->

	<div class="row resume-items">

		<div class="col-md-3 wow bounceInDown">
			<h3>Visión</h3>
		</div>

		<div class="col-md-6 col-sm-8 resume-item wow bounceInRight">
			<h4>Nuestro futuro siemplre será</h4>
			<p>ser la empresa preferida por ofrecer las soluciones más innovadoras en transporte y logística. Ser la empresa número uno reconocida a nivel nacional e internacional en el transporte de encomiendas y responsabilidad social empresarial.</p>
			<hr class="hidden-xs">
		</div>

	</div><!-- .row -->

	<div class="row resume-items">

		<div class="col-md-3 wow bounceInDown">
			<h3>Valores</h3>
		</div>

		<div class="col-md-6 col-sm-8 resume-item wow bounceInLeft">
			<h4>Nuestros valores son</h4>
			<p>COMPROMISO</p>
			<p>EFICIENCIA</p>
			<p>TRANSPARENCIA</p>
			<p>INNOVACION</p>
			<p>PASION</p>
			<hr class="hidden-xs">
		</div>

	</div><!-- .row -->
</div><!-- .container -->