{% extends "base.html" %}

{% block title %}
	OwlExpressInicio
{% endblock %}

{%load staticfiles%}

	<div class="wrapper">

		<!-- Preloader -->

		<div id="preloader">
			<div id="status">
				<div class="status-mes"><h4>OWL Express</h4></div>
			</div>
		</div>

		<!-- Navigation start -->

		{% block header %}

			<nav class="navbar navbar-custom navbar-fixed-top navbar-color" role="navigation">
				<div class="container">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Owl Express</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">Inicio</a></li>
							<li><a href="#services">Servicios</a></li>
							<li><a href="#about">Nosotros</a></li>
							<li><a href="#calculator">Calcule su envio</a></li>
							<li><a href="#clients">Nuestros Clientes</a></li>
							<li><a href="#contact">Contactenos</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'app:dashboard' %}">Dashboard - {{user.first_name|capfirst}}</a></li>
								<li><a href="{% url 'app:logout' %}">Salir</a></li>
							{% endif %}
						</ul>
					</div>

				</div>
			</nav>

		{% endblock %}

		<!-- Navigation end -->
	
	{% block content %}

		<!-- Intro section start -->

		<section id="home" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-6">

						<div class="hello wow bounceInDown">
							<h1>Owl Express, entrega rapida y segura</h1>
							<h3><span class="rotate">Tarifas solidarias. | Servicio automatizado. | La mejor decision. | Planes a tu medida. </span></h3>
						</div>

						<a href="#profile">
							<div class="mouse-icon">
								<div class="wheel"></div>
							</div>
						</a>

					</div>

					<div class="col-md-6">

						{% include "authentication.html" %}
						
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Intro section end -->

		<!-- Services section start -->

		<section id="services" class="section">
			
			{% include "services.html" %}

		</section>

		<!-- Services section end -->

		<!-- About section start -->

		<section id="about" class="callout">
			
			{% include "about.html" %}

		</section>

		<!-- About section end -->

		<!-- Calculator section start -->

		<section id="calculator" class="section">

			{% include "calculator.html" %}

		</section>

		<!-- Calculator section end -->

		<!-- Clients section start -->

		<section id="clients" class="callout">
			
			{% include "clients.html" %}

		</section>

		<!-- Clients section end -->

		<!-- Contact section start -->

		<section id="contact" class="section">

			{% include "contacts.html" %}

		</section>

		<!-- Contact section end -->

	{% endblock %}

</div><!-- .wrapper -->
