<section id="profile" class="section">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 headline wow bounceInDown">
                        <h2>Perfil</h2>
                        <p>Ingrese al sistema para ver todos sus procesos de envio</p>
                    </div>

                    <div class="col-md-3 col-sm-2 hidden-xs wow bounceInLeft">
                        <h4>¿Aun no es miembro? Registrese!!</h4>
                        <form id="register" class="form-signin center-block">   
                              <input id="email" type="text" class="form-control input-sm" name="username" placeholder="Email" required="" autofocus="" />
                              <br/>
                              <input id="password" type="password" class="form-control input-sm" name="password" placeholder="Contraseña" required=""/> 
                              <br/>
                              <input id="repassword" type="password" class="form-control input-sm" name="password" placeholder="Repetir Contraseña" required=""/> 
                              <br/>
                              <input id="question" type="text" class="form-control input-sm" name="Question" placeholder="Pregunta secreta" required=""/>    
                              <br/>
                              <input id="answer" type="text" class="form-control input-sm" name="Question" placeholder="Respuesta" required=""/>
                              <br/>
                              <button class="btn btn-sm btn-danger" type="button" onclick = "getView(_new)">Registrarse</button>
                              <br/>
                              
                        </form> 

                    </div><!-- .col-md-3 -->
                    <div class="col-md-1 col-sm-1 hidden-xs wow bounceInLeft">
                    </div>

                    <div class="col-md-4 col-sm-6 wow bounceInRight">
                        
                        <div class="wrapper">
                            <form id="login" class="form-signin" method="POST" onsubmit="#">       
                              <h3 class="form-signin-heading">Ingresar</h3>
                              <input id="lemail" type="text" class="form-control input-sm" name="username" placeholder="Email" required="" autofocus="" />

                              <input  id="lpassword" type="password" class="form-control input-sm" name="password" placeholder="Contraseña" required=""/>      
                              <br/>
                              <button class="btn btn-md btn-primary btn-block" onclick = "logIn()" type="button" >Ingresar</button>

                              <a href='#'>¿Olvido su clave?</a> 
                            </form>
                          </div>


                    </div>

                    <div class="col-md-1 col-sm-1 wow bounceInUp">
                    </div>
                    <div class="col-md-3 col-sm-2 wow bounceInUp center-block">
                        <h4 class="form-signin-heading">Puede ingresar mediante</h4>
                        <ul class="widget-social">
                                <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- .col-md-3 -->

                </div><!-- .row -->

            </div><!-- .container -->
</section>