<div id="content" class="box box-element ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
          <div class="preview">Lista</div>
          <div class="view">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Fecha de emision</th>
                  <th>Fecha estimada de llegada</th>
                  <th>Agencia origen</th>
                  <th>Agencia destino</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4685</td>
                  <td>Harina Pan</td>
                  <td>24/06/2015</td>
                  <td>26/06/2015</td>
                  <td>Caracas</td>
                  <td>Valencia</td>
                  <td><a id="_1" href="#none">En camino<a></td>
                </tr>
                <tr class="active">
                  <td>4687</td>
                  <td>Atun</td>
                  <td>20/06/2015</td>
                  <td>25/06/2015</td>
                  <td>Caracas</td>
                  <td>Quito</td>
                  <td><a id="_2" href="#none">En camino</a></td>
                </tr>
                <tr class="success">
                  <td>4645</td>
                  <td>Leche en Polvo</td>
                  <td>29/06/2015</td>
                  <td>05/07/2015</td>
                  <td>Caracas</td>
                  <td>Bolivar</td>
                  <td><a id="_3" href="#none">Entregado en agencia destino</a></td>
                </tr>
                <tr class="warning">
                  <td>4668</td>
                  <td>Iphone 6</td>
                  <td>02/07/2015</td>
                  <td>08/07/2015</td>
                  <td>Caracas</td>
                  <td>Merida</td>
                  <td><a id="_4" href="#none">Pendiente por embarcar</a></td>
                </tr>
                <tr class="danger">
                  <td>4697</td>
                  <td>Objetos varios</td>
                  <td>25/06/2015</td>
                  <td>27/06/2015</td>
                  <td>Caracas</td>
                  <td>Maracay</td>
                  <td><a id="_4" href="#none">Retrasado</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>