{% extends "portal_base.html" %}

{% block heading_page %}

<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">
            Perfil
        </h2>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-user"></i> Perfil
            </li>
        </ol>
    </div>

</div>

{% endblock %}

{% block content_page %}

<div class="row">
    <div class="col-lg-12 col-md-12 ">
      <div class="col-md-3">
        <div class="text-center">
            {%if profile.avatar == '' %}
                <img class="avatar img-circle" alt="avatar" src="{{profile.social_avatar}}">
            {% else %}
                <img class="avatar img-circle" alt="avatar" src="{{profile.avatar}}">
            {% endif %}
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">      
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Bishop">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
    </div> 
</div>


{% endblock %}