<div id="content">
          <div class="col-md-4 col-sm-3 hidden-xs wow bounceInLeft">
                        
                    </div><!-- .col-md-3 -->
                    

                    <div class="col-md-4 col-sm-6 wow bounceInRight">
                        
                        <div class="wrapper">
                            <h4>Puede modificar sus datos si lo desea</h4>
                        	<form class="form-signin center-block">
                        		  <p>Email</p>
	                              <input type="text" class="form-control input-sm" name="username" placeholder="email@gmail.com" autofocus="" />
	                              <br/>
	                              <p>Contraseña</p>
	                              <input type="password" class="form-control input-sm" name="password"/>
	                              <br/>
	                              <p>Repita su Contraseña</p>
	                              <input type="password" class="form-control input-sm" name="password"/>
	                              <br/>
	                              <p>Pregunta secreta</p>
	                              <input type="text" class="form-control input-sm" name="Question" placeholder="nombre de mi madre"/>    
	                              <br/>
	                              <p>Respuesta</p>
	                              <input type="text" class="form-control input-sm" name="Question" placeholder="Maria"/>
	                              <br/>

	                              <button class="btn btn-sm btn-danger" type="button" onclick = "getView('save')">Guardar</button>
	                              <br/>
                              
                        	</form> 
                          </div>


                    </div>

                    <div class="col-md-4 col-sm-3 wow bounceInUp center-block">
                        
                    </div><!-- .col-md-3 -->
                </div>