<div class="container">

	<div class="row">

		<div class="col-md-12 headline wow bounceInDown">
			<h2>¿Qué puedes hacer con nosotros?</h2>
			<p>Servicios.</p>
		</div>

		<div class="col-md-12">

			<div class="row">

				<div class="col-sm-4 wow bounceInLeft">
					<div class="service">
						<div class="icon">
							<i class="fa fa-calculator"></i>
						</div>
						<h4>Calcule su envio</h4>
						<div class="text">
							<p>Puede hacer uso de nuestras calculadoras de envío y elija un plan de acuerdo a sus necesidades.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp">
					<div class="service">
						<div class="icon">
							<i class="fa fa-desktop"></i>
						</div>
						<h4>Servicio de rastreo de sus paquetes</h4>
						<div class="text">
							<p>Que tenga confianza en Owl Express es primordial, rastree sus paquetes desde nuestro portal web y sientase seguro de dónde se encuentra su envío.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInRight">
					<div class="service">
						<div class="icon">
							<i class="fa fa-pencil-square-o"></i>
						</div>
						<h4>Vea el historial de sus envios</h4>
						<div class="text">
							<p>Puede ver en nuestro portal web cada uno de los envíos que ha hecho y así como ha recibido.</p>
						</div>
					</div>
				</div>

			</div><!-- .row -->

			<div class="row">

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-rocket"></i>
						</div>
						<h4>Rapidez</h4>
						<div class="text">
							<p>Basta de tantas esperas, ¿Quieres qué te llegue mañana? o que llegue mañana, pues lo hacemos por ti no te preocupes.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-globe"></i>
						</div>
						<h4>Servicio a Cualquier lado</h4>
						<div class="text">
							<p>Denos su paquete y nosotros se lo llevamos, no importa lo lejos y recondito se encuentre el destino.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
					<div class="service">
						<div class="icon">
							<i class="fa fa-money"></i>
						</div>
						<h4>Planes a tu medida</h4>
						<div class="text">
							<p>Pensando en ti y en tus necesidades te damos la oportunidad de diferentes planes.</p>
						</div>
					</div>
				</div>


			</div><!-- .row -->

		</div><!-- .col-md-12 -->

	</div><!-- .row -->

</div><!-- .container -->